.form-group{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    border: 0.3px solid rgb(197, 194, 194);
    border-radius: 5px;
}

.form-group .form-icon{
    font-size: 14px;
    color: var(--light-gray);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

}

.form-group .form-icon img{
    height: 30px;
}

.form-group h3{
    font-size: 24px;
    color: rgb(103, 103, 103) ;
    font-weight: 300;
    margin-top: 28px;
}

.form-group .form-hour{
    display: flex;
    
    border-top: rgb(222, 220, 220) solid 1px;
    width: 100%;
    flex-direction: row;
    color:rgb(103, 103, 103);
    padding:3px 4px;
}

.form-group .form-hour label{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    margin: 10px;
}

.form-group .form-hour span{
    display: flex;
    justify-content: end;
    
    width: 100%;
    margin: 10px;
    
}

.form-group .form-hour:nth-last-child(3){ 
    //especifica qual foi o elemento selecionado de baixo para cima
    border-bottom:rgb(222, 220, 220) solid 1px; ;
    margin-bottom: 28px;
}

.form-group .btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 100%;
    
}
.form-group .checkbox-wrapper input[type="checkbox"]{
    margin-right: 4px;
}

.form-group .btn-wrapper .btn{
    font-size: 18px;
    width: auto; 
    max-width: 100%; 
    border-radius: 5px;
    color: var(--light-gray);
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px;
    border: none;
    cursor: pointer;
}

.form-group .btn-wrapper .btn-primary{
    background-color: var(--yellow);
}

.form-group .btn-wrapper .btn-secondary{
    border: solid 1px rgb(190, 186, 186);
    background: transparent;
    
}

.form-group .checkbox-wrapper{
    color: var(--light-gray);
    margin: 24px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}


@media (min-width: 768px) {
    .form-group .btn-wrapper{
        flex-direction: row;
    }

    .form-group .btn-wrapper .btn{
        width: 25%;
    }

    .form-group .checkbox-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}