<form action="" class="form-group">
    <div class="form-icon"><img src="/assets/img/svg/icon-hour.png" alt="">Horário</div>
    <h3>Qual turno você deseja treinar?</h3>

    <div class="form-hour" >
        <input type="radio" name="Manha" value="morning"/>
        <label for="morning">Manhã</label>
        <span>6:00 ás 12:00</span>
    </div>
    <div class="form-hour">
        <input type="radio" name="Tarde" value="afternoon"/>
        <label for="afternoon">Tarde</label>
        <span>12:01 ás 18:00</span>
    </div>
    <div class="form-hour">
        <input type="radio" name="Noite" value="night"/>
        <label for="night">Noite</label>
        <span>18:01 ás 23:00</span>
    </div>
    <div>
        <input type="checkbox" name="show-closed">
        <label for="show-closed">Exibir unidades fechadas</label>
    </div>
</form>
