@font-face {
    font-family: "Gotham";
    src: url(assets/fonts/gotham/gotham-light.woff2) format('truetyppe');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham" ;
    src: url(assets/fonts/gotham/gotham-book.woff2) format('truetype');
    font-weight: 500;
    font-style: normal;
}